$white: #fff;
$bg-white: #F5F5F5;
$text-light-grey: #7A7A7A;
$text-dark-grey: #48484A;
$lightest-grey: #C7C7CA;

// finalized 2017 colours
$blue: #0082C0;
$light-purple: #21B3DB;
$teal: #00FBDD;
$pink: #D00000;


$card-padding-top: 15px;
$card-padding-bottom: $card-padding-top;
$card-padding-right: 10px;
$card-padding-left: $card-padding-right;
